short-video-maker/N8N/🤖 Claude Video Creator Workflow.json
{
  "name": "🤖 Claude Video Creator Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-claude",
      "name": "Manual Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.27.86.48:3123/api/short-video",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "  {\n    \"scenes\": [\n      {\n        \"text\": \"Claude AI 비디오 테스트\",\n        \"searchTerms\": [\"ai\", \"technology\", \"automation\"]\n      }\n    ],\n    \"config\": {\n      \"voice\": \"af_heart\",\n      \"music\": \"happy\",\n      \"orientation\": \"portrait\",\n      \"captionPosition\": \"center\",\n      \"musicVolume\": \"medium\",\n      \"paddingBack\": 200                                                   \n    }\n  }",
        "options": {}
      },
      "id": "create-video-claude",
      "name": "Create AI Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        352,
        304
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "videoId",
              "value": "={{$json.videoId}}"
            },
            {
              "name": "status",
              "value": "Video creation started successfully"
            },
            {
              "name": "downloadUrl",
              "value": "/home/akfldk1028/.ai-agents-az-video-generator/videos/{{$json.videoId}}.mp4"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response-claude",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        608,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Start": {
      "main": [
        [
          {
            "node": "Create AI Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create AI Video": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c46fcdaf-a664-4b7a-bc65-fea9c425ba0f",
  "meta": {
    "instanceId": "456b82ffe5e5edd5cb7a2eb2a03417ac98d3fbff8f8e57cd2cfd01ac4a81154d"
  },
  "id": "M9TgWfeuUNddwNJA",
  "tags": []
}
